$logofont: "Gelion", sans-serif;
$logofontsize: 20pt;

$headerfont: "Gelion", sans-serif;
$headerfontsize: 16pt;

$bodyfont: "IBM Plex Mono", monospace;
$bodyfontsize: 12pt;

$headersize: 80px;

$offwhite: #eee;