$heromaxwidth: 1200px;

.hero {
  width: 100%;
  overflow: hidden;
}

.heroContainer {
  min-width: 300px;
  max-width: $heromaxwidth;
  margin: auto;
  position: relative;

  height: unquote("clamp(600px, calc(100vh - 60px), 900px)");
}

.map {
  overflow: hidden;

  max-width: $heromaxwidth;
  width: 100%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  z-index: -10;
}

.mainContent {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 100%;

  @media (max-width: 600px) {
    left: 80px;
  }

  @media (max-width: 500px) {
    left: 50px;
  }
}

.name {
  width: unquote("min(50%, 500px)");
}

.message {
  color: #e2e2e0;
  font-family: "IBM Plex Mono", monospace;

  font-size: 20pt;
  text-transform: lowercase;

  @media (max-width: 700px) {
    font-size: 16pt;
  }

  @media (max-width: 600px) {
    font-size: 12pt;
  }

  @media (max-width: 500px) {
    font-size: 10pt;
  }
}