@import "./_variables.scss";

.navbar {
  text-transform: lowercase;
  font-family: $headerfont;
  font-size: $bodyfontsize;

  height: $headersize;
}

.navbarContainer {
  // set widths and center
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
  height: 100%;

  // flexbox
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  // fonts
  font-family: $logofont;
  font-size: $logofontsize;

  // sizing
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 1;

  // flexbox
  display: flex;
  align-items: center;
  cursor: pointer;

  color: #eee;
  text-decoration: none;
  position: relative;
}

.logoContainer::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 76px;
  height: 4px;
  background: rgb(18,156, 217);
  background: linear-gradient(90deg, #0072ffff 0%, #19e0c9ff 100%);
  width: 0;
  visibility: hidden;
}

.logoContainer:hover::before {
  content: "";
  visibility: visible;
  width: unquote("calc(100% - 76px)");
  transition: all 0.3s;
}

.logo {
  width: 30px;
  height: 30px;
  pointer-events: none;
  margin-right: 15px;
  margin-left: 30px;
}

.logoStyles {
  fill: #eee;
}

.navMenu {
  flex-grow: 0;
  flex-basis: 50%;

  // normalize list
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 8px;

  // flexbox
  display: flex;
  justify-content: space-evenly;
}

.navItem {
  font-family: $bodyfont;
}

.navLinks {
  position: relative;
  color: #eee;
  text-decoration: none;
}

.navLinks::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  background: rgb(18,156, 217);
  background: linear-gradient(90deg, #0072ffff 0%, #19e0c9ff 100%);
  width: 0;
  visibility: hidden;
}

.navLinks:hover::before {
  content: "";
  visibility: visible;
  width: 100%;
  transition: all 0.3s;
}

.active {

}